{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="light">

<head>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/img/monkey-icon.png' %}" rel="icon" type="image/png">


</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    <img src="{% static '/img/monkey-icon.png' %}" alt="Logo" width="30" height="30">
                    Ask me a question, Bro
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <!-- Questions Column -->

                <div class="col-9">
                    {% block content %}

                    {% endblock %}
                </div>

                <!-- Sidebar Column -->
                <div class="col-3">
                    <!-- Popular Tags -->
                    <div class="mb-3">
                        <h4>Popular Tags</h4>
                        <div class="tags">
                            <span class="badge bg-secondary">perl</span>
                            <span class="badge bg-secondary">python</span>
                        </div>
                    </div>
                    <!-- Best Members -->
                    <div>
                        <h4>Best Members</h4>
                        <ul class="list-unstyled">
                            <li>Mr. Freeman</li>
                            <li>Dr. House</li>
                            <!-- More members -->
                        </ul>
                    </div>
                    <a class="btn btn-primary" href="{% url 'create_question' %}"> Ask question </a>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary bg-primary">
        <div class="container">
            <span class="text-body-secondary">Check out my git: </span> <a href="https://github.com/Dinislam-ZA">Dinislam-ZA</a>
        </div>
    </footer>

    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>

</html>